body {
    text-align:center;
  }
  input {
    font-size:50px;
    background-color: rgb(155,10,170);
    border-color:rgb(0,0,0);
    border-width:5px;
    font-family:Arial;
    background-position: center;
  }
    input {
    border-radius:50%;
    width:200px;
    height:200px;
  }
  input:hover {
    background-color: #a6a6a6;
  }
  input:hover {
    border-color: #a7a7a7;
  }
  input:hover {
    box-shadow: 5px 5px 10px blue;

  }
  input:active {
    font-size:90px;
    background-image: url("https://scontent-dfw1-1.xx.fbcdn.net/v/t34.0-12/13595631_10206828777063672_1375105156_n.jpg?oh=3faa7e48aa6125e5fc20799497d4f9ac&oe=5784D6D")